/*
Site Name: Steino Theme
Author: Alex Stomp
Author URI: http://www.alexstomp.com
*/

*,li,a,p,h1,h2,h3,h4,h5,h6,label,input,th,td{
	list-style:none outside none;
	text-decoration:none;font:14px/20px "Helvetica Neue","Helvetica","Arial",sans-serif;
	color:#242424;
	margin:0;
	padding:0;
}

html{height:100%;margin-top: 0 !important;background:white  url("./img/top_slice.jpg") repeat-x;}
body{text-align:center;padding-bottom:200px;}
#container{width:826px;margin:0 auto;text-align:left;min-height:100%;height:auto!important;height:100%;}

#header-wrap{float:left;width:826px;}
#header-wrap a{margin-top:50px;float:left;}
#header-wrap ul#navigation{float:right;}
#header-wrap ul#navigation li{margin-top:64px;float:left;padding:10px 15px;margin-left:15px;}
#header-wrap ul#navigation li a{margin-top:0;font-weight:bold;color:white;}
#header-wrap ul#navigation li:hover{background:white;}
#header-wrap ul#navigation li:hover a{color:black;}
#header-wrap ul#navigation .active-tab{background:white;}
#header-wrap ul#navigation .active-tab a{color:black;}

#footer-wrap{float:left;width:826px;padding-top:15px;margin-top:35px;border-top:2px solid #64c1f7;}
#footer-wrap p{float:right;clear:right;padding-bottom:4px;}
#footer-wrap a{font-size:14pt;}
#footer-wrap a#smaller{font-size:11pt;}

.work-item{float:left;clear:left;width:826px;height:202px;margin-top:35px;}
.work-item a{width:826px;height:202px;display:block;position:relative;top:-207px;}
.work-item:hover a span{display:block;}
.work-item span{display:none;}
.work-item span.graphic-overlay{width:826px;height:202px;background: url("./img/graphic_overlay.png");}
.work-item span.drawings-overlay{width:826px;height:202px;background: url("./img/drawings_overlay.png");}
.work-item span.print-overlay{width:826px;height:202px;background: url("./img/print_overlay.png");}
.work-item span.screen-overlay{width:826px;height:202px;background: url("./img/screen_overlay.png");}
.work-item span.logo-overlay{width:826px;height:202px;background: url("./img/logo_overlay.png");}

#sidebar-wrap{float:left;width:150px;height:100%;margin-top:40px;}
#sidebar-wrap a{float:left;clear:left;font-weight:bold;padding-left:15px;border-left:5px solid white;margin-bottom:10px;}
#sidebar-wrap a.active{border-color:#64c1f7;}
#sidebar-wrap a.graphic-sublink{font-weight:normal;margin-left:40px;margin-top:-5px;}
#sidebar-wrap a.blue{color:#64c1f7;}

#right-content{float:right;padding-top:25px;width:650px;}
#right-content p{float:left;width:650px;line-height:25px;padding-top:15px;}
#right-content p.contact-p{text-align:right;font-weight:bold;float:left;clear:left;width:650px;padding-bottom:5px;margin-top:-7px;border-bottom:1px solid #dcdcdc;}
#right-content p.contact-p span{text-align:left;margin-top:2px;color:#64c1f7;width:100px;float:left;}
#right-content p.contact-p span.text{float:left;color:black;width:200px;}

#posts-wrap{float:right;width:650px;padding-top:25px;}
#posts-wrap a{float:left;width:208px;margin-right:13px;height:200px;background:grey;margin-bottom:13px;position: relative;}
#posts-wrap a.end{margin-right:0;}
#posts-wrap a div span{display:none;position: absolute;bottom: 0px;padding: 7px 10px;width: 188px;color: white;background: url("./img/opacity_bg.png");font-weight: bold;}
#posts-wrap a:hover div span{display:block;}

#single-wrap{float: right; width: 650px; padding-top: 25px;}
#single-wrap h2.single-title{float: left; font-size: x-large;width: 650px;text-align: right;padding-bottom: 15px;}
#excerpt-wrap{float: left;padding-top: 15px;margin-top: 5px; border-top: 2px solid #64c1f7;width: 650px;}

















